<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="event-view">
  <template>
    <style include="shared-styles">
       :host {
        display: block;

        padding: 10px;
        --primary-color: green;
      }

      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
        --paper-button-ink-color: white;
      }

      iron-form {
        --paper-input-container-color: black;
      }

      img {
        border-radius: 100%;
        height: 150px;
        width: 150px;
        object-fit: cover;
      }

      .card {
        overflow: hidden;
      }
    </style>

    <div class="card">
      <iron-form id="searchForm">
        <form method="get" action="/api/v1/events">
          <label>Owner</label>
          <input type="text" name="owner" value="nodejs">
          <label>Repository</label>
          <input type="text" name="repo" value="node">
          <button id="searchButton" class="green raised">Search</button>
        </form>
      </iron-form>
    </div>
    <template is="dom-repeat" items="{{events}}">
      <div class="card">
        <div class="circle">
          <img src="[[item.actor.avatar_url]]"/>
        </div>
        <h1>[[item.actor.login]]</h1>
        <h2>[[item.type]]</h2>
        <h5>[[__formatDate(item.created_at)]]</h5>
        <pre>[[__formatPayload(item.payload)]]</pre>
      </div>
    </template>

  </template>

  <script>
    class EventView extends Polymer.Element {
      static get is() {
        return 'event-view';
      }

      ready() {
        super.ready();
        this.$.searchButton.addEventListener('click', e => {
          this._handleSearch(e)
        });
        this.$.searchForm.addEventListener('iron-form-response', evt => {
          this.events = evt.detail.response;
        })
      }

      _handleSearch() {
        this.$.searchForm.submit();
      }

      __formatDate(date){
        return (new Date(date)).toLocaleString();
      }

      __formatPayload(payload){
        return JSON.stringify(payload, null, '\t');
      }
    }

    window.customElements.define(EventView.is, EventView);
  </script>
</dom-module>